#game {
	margin: 50px auto 0;
	width: 384px;	
}

.piece
{
    height: 48px;
    width: 48px;
}

.square
{
    position: absolute;
    height: 48px;
    width: 48px;
}

.square.white
{
    background: #EDD99D;   
}

.square.black
{
    background: #A65916;
}

.square.hoverBlue
{
    width: 38px;
    height: 38px;
    border: 5px inset #6666ff;
}

.square.hoverGreen
{
    width: 38px;
    height: 38px;
    border: 5px inset #33ff33;
}

.square.hoverRed
{
    width: 38px;
    height: 38px;
    border: 5px inset #ff3333;
}

#board
{
    width: 384px;
    height: 384px;
    position: relative;
    border: 1px solid #666666;
}

#board .piece
{
    position: absolute;
    cursor: -moz-grab;
}

#graveyard
{
    float: left;
}

#graveyard .piece
{
    position: static;
}